h1 {
	height:60px;
	color:white;
	background:#0000ff;
	padding-top:30px;
	margin-top:25px;
	margin-bottom:25px;
	text-align:center;
	border-radius:10px;
	border:2px solid #002db3;
	text-shadow: 2px 2px #000d33;
	box-shadow: 5px 5px 5px #666666;
	font-family:"Cabin Sketch", serif;
}
h3 {
	width:490px;
	height:25px;
	padding-top:5px;
	padding-left:10px;
	margin-bottom:10px;
	border-radius:5px;
	box-shadow: 3px 3px 3px #666666;
}
section {
	background:#f4f4f4;
	padding-top:10px;
	padding-left:20px;
	margin-bottom:25px;
	border-radius:10px;
	box-shadow: 3px 3px 3px #666666;
}
body {
	margin-left:30px;
	margin-right:30px;
}
li {
	target:_blank;
	list-style-type:none;
}
a {
	text-decoration:none;
}
details {
	margin-top:8px;
}
.quick-nav {
	width:270px;
	height:25px;
	padding-top:7px;
	margin-bottom:7px;
	border-radius:5px;
	text-align:center;
	box-shadow: 2px 2px 2px #666666;
}
.back-button {
	width:140px;
	height:20px;
	font-size:20px;
	background:#0000ff;
	padding-top:3px;
	padding-bottom:3px;
	margin-left:40px;
	border-radius:5px;
	text-align:center;
	box-shadow: 2px 2px 2px #666666;
	font-family:"Cabin Sketch", serif;
}
.my-image {
	width:500px;
	height:300px;
	border-radius:5px;
	box-shadow: 3px 3px 3px #666666;
}
.info {
	color:#52527a;
	font-weight:normal;
}
.link-1:link, .link-1:visited {
	color:#b30086;
}
.link-1:hover {
	background-color:#b30086;
	color:white;
}
.link-2:link, .link-2:visited {
	color:#b3b300;
}
.link-2:hover {
	background-color:#b3b300;
	color:white;
}
.link-3:link, .link-3:visited {
	color:#006bb3;
}
.link-3:hover {
	background-color:#006bb3;
	color:white;
}
.link-4:link, .link-4:visited {
	color:#00802b;
}
.link-4:hover {
	background-color:#00802b;
	color:white;
}
.link-5:link, .link-5:visited {
	color:#ff8000;
}
.link-5:hover {
	background-color:#ff8000;
	color:white;
}
.link-6:link, .link-6:visited {
	color:#0086b3;
}
.link-6:hover {
	background-color:#0086b3;
	color:white;
}
.link-7:link, .link-7:visited {
	color:#ff6666;
}
.link-7:hover {
	background-color:#ff6666;
	color:white;
}
.link-8:link, .link-8:visited {
	color:#8000ff;
}
.link-8:hover {
	background-color:#8000ff;
	color:white;
}
.link-9:link, .link-9:visited {
	color:#e60073;
}
.link-9:hover {
	background-color:#e60073;
	color:white;
}
#top-section {
	margin-left:25px;
	margin-top:35px;
}
#top-text {
	font-size:22px;
	margin-bottom:45px;
	font-family:"Cabin Sketch", serif;
}
#code-editors, #link-1 {
	background:#e600ac;
	color:white;
}
#tutorials, #link-2 {
	background:#ffff00;
	color:#666;
}
#online-tools, #link-3 {
	background:#0099ff;
	color:white;
}
#access-international, #link-4 {
	background:#00b300;
	color:white;
}
#characters, #link-5 {
	background:#ff9933;
	color:white;
}
#attributes, #link-6 {
	background:#00bfff;
	color:#333;
}
#images, #link-7 {
	background:#ffb3b3;
	color:#666;
}
#other, #link-8 {
	background:#a64dff;
	color:white;
}
#css, #link-9 {
	background:#ff1a8c;
	color:white;
}
