* {
    box-sizing: border-box;
}
h1 {
	color:#fff;
	background:#00cc99;
	padding:20px;
	margin-top:30px;
	margin-bottom:35px;
	border-radius:10px;
	border:2px solid #000;
	box-shadow: 5px 5px 5px #666666;
	font-family:"Exo 2", serif;
	text-align:center;
	font-size:50px;
}
h3 {
	width:37%;
	min-width:300px;
	height:30px;
	padding-top:5px;
	padding-left:10px;
	margin-bottom:10px;
	border-radius:5px;
	box-shadow: 3px 3px 3px #666666;
}
section {
	background:#f4f4f4;
	padding-top:10px;
	padding-left:20px;
	margin-bottom:25px;
	border-radius:10px;
	box-shadow: 3px 3px 3px #666666;
}
body {
	margin-left:30px;
	margin-right:30px;
	margin-bottom:50px;
}
li {
	target:_blank;
	list-style-type:none;
}
a {
	text-decoration:none;
}
details {
	margin-top:8px;
}


.nav-button {
	display:inline-block;
	width:270px;
	padding-top:9px;
	padding-bottom:9px;
	margin-right:45px;
	margin-bottom:8px;
	text-align:center;
	font-weight:bold;
	border-radius:5px;
	box-shadow: 2px 2px 2px #666666;
}
.my-image {
	width:37%;
	height:auto;
	min-width:300px;
	border-radius:5px;
	box-shadow: 3px 3px 3px #666666;
}
.info {
	color:#52527a;
	font-weight:normal;
}
.link-1:link, .link-1:visited {
	color:#b30086;
}
.link-1:hover {
	background-color:#b30086;
}
.link-2:link, .link-2:visited {
	color:#b3b300;
}
.link-2:hover {
	background-color:#b3b300;
}
.link-3:link, .link-3:visited {
	color:#006bb3;
}
.link-3:hover {
	background-color:#006bb3;
}
.link-4:link, .link-4:visited {
	color:#00802b;
}
.link-4:hover {
	background-color:#00802b;
}
.link-5:link, .link-5:visited {
	color:#ff8000;
}
.link-5:hover {
	background-color:#ff8000;
}
.link-6:link, .link-6:visited {
	color:#0086b3;
}
.link-6:hover {
	background-color:#0086b3;
}
.link-7:link, .link-7:visited {
	color:#ff6666;
}
.link-7:hover {
	background-color:#ff6666;
}
.link-8:link, .link-8:visited {
	color:#7300e6;
}
.link-8:hover {
	background-color:#7300e6;
}
.link-9:link, .link-9:visited {
	color:#e60073;
}
.link-9:hover {
	background-color:#e60073;
}
.link-10:link, .link-10:visited {
	color:#00cca3;
}
.link-10:hover {
	background-color:#00cca3;
}
.link-11:link, .link-11:visited {
	color:#8000ff;
}
.link-11:hover {
	background-color:#8000ff;
}
.link-1:hover, .link-2:hover, .link-3:hover, .link-4:hover, .link-5:hover, .link-6:hover, .link-7:hover, .link-8:hover, .link-9:hover, .link-10:hover, .link-11:hover {
	color:#000;
}
.back-button {
    display: inline-block;
    width:140px;
	height:30px;
	background:#00cc99;
	color:#ffffff;
	padding-top:1px;
	padding-bottom:9px;
	margin-left:40px;
	margin-bottom:20px;
	font-size:20px;
	text-align:center;
	font-family:"Exo 2", serif; 
	border-radius:5px;
	box-shadow: 2px 2px 2px #666666;
}
.back-button:hover {
	background-color:#009973;
}


#top-section {
	margin-top:25px;
	margin-left:25px;
	margin-right:25px;
}
#top-text {
	flex:1;
	max-width:initial;
	margin-top:0px;
	font-size:20px;
	font-family:"Exo 2", serif;
	text-align:justify;	
}
#vid {
	flex:5;
	min-width:300px;
	min-height:240px;
}
#outer-flexbox {
	display:flex;
	flex-flow: wrap;
}
#inner-flexbox {
	display:flex;
	flex:1;
	flex-direction:column;
	flex-basis:60%;
	align-items:center;
}
#nav-1:hover {
	background-color:#b30086;
}
#code-editors, #nav-1 {
	background:#e600ac;
	color:white;
}
#nav-2:hover {
	background-color:#cccc00;
}
#tutorials, #nav-2 {
	background:#ffff00;
	color:#666;
}
#nav-3:hover {
	background-color:#008ae6;
}
#online-tools, #nav-3 {
	background:#0099ff;
	color:white;
}
#nav-4:hover {
	background-color:#008000;
}
#access-international, #nav-4 {
	background:#00b300;
	color:white;
}
#nav-5:hover {
	background-color:#cc6600;
}
#characters, #nav-5 {
	background:#ff9933;
	color:white;
}
#nav-6:hover {
	background-color:#0099cc;
}
#attributes, #nav-6 {
	background:#00bfff;
	color:#333;
}
#nav-7:hover {
	background-color:#ff8080;
}
#images, #nav-7 {
	background:#ffb3b3;
	color:#666;
}
#nav-8:hover {
	background-color:#330066;
}
#media, #nav-8 {
	background:#5900b3;
	color:white;
}
#nav-9:hover {
	background-color:#cc0066;
}
#css, #nav-9 {
	background:#ff1a8c;
	color:white;
}
#nav-9:hover {
	background-color:#cc0066;
}
#layout, #nav-10 {
	background:#00cca3;
	color:#4d4d4d;
}
#nav-10:hover {
	background-color:#00997a;
}
#other, #nav-11 {
	background:#a64dff;
	color:white;
}
#fixed-info {
	position:fixed;
	bottom:0;
	color:#fff;
	background:#00cc99;
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:-30px;
	margin-bottom:0px;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	font-family:"Indie Flower", serif;
}


